html, body
    margin 0
    padding 0
    width 100vh
    height 100vh

body
    background-image url('../images/pkq.png')
    background-repeat no-repeat
    background-size cover
    background-position 0 0
    font-size 14px
    font-weight 300
    font-smoothing antialiased // 字体平滑，只在mac下生效
    font-family: 'PingFang SC'
    overflow hidden

.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to
  opacity 0
